<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--&lt;!&ndash; 开启驼峰命名对应，这个开启后，若实体类是数据库字段的驼峰命名，可以不用写类的属性和数据库列的对应 &ndash;&gt;-->
    <!--<settings>-->
        <!--<setting name="mapUnderscoreToCamelCase" value="true" />-->
    <!--</settings>-->
</configuration>
